// .v-application .indigo.darken-2 {
//     background-color: #e9ecef !important;
//     border-color: #303f9f !important;
// }
.main-navbar{
    background-color: #505050;
}
.item-btn{
    margin: 40px 10px 10px 40px
}

.center-menu{
    margin: auto;
}

.v-btn--contained {
    box-shadow: none !important;
}

.btn-nav-items{
    background-color: #ffffff !important;
}
.img-description{
    background-color: #448669;
    height: 50px;
    width: 100%;
    text-align: center;
}
.span-display-offer {
    color: #fff;
    font-size: 30px;
}
