// .v-application .indigo.darken-2 {
//     background-color: #e9ecef !important;
//     border-color: #303f9f !important;
// }
.main-navbar{
    background-color: #505050;
}


.center-menu{
    margin: auto;
}

.v-btn--contained {
    box-shadow: none !important;
}

.v-btn:hover:before {
    background-color: transparent !important;
  }
.img-description{
    background-color: #448669;
    height: 50px;
    width: 100%;
    text-align: center;
}
.span-display-offer {
    color: #fff;
    font-size: 30px;
}

.v-btn:before {
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
    background-color: transparent !important;
}